/* Tania 12/07/2023 */
:root{
    --green:#198754;
    --blue-deep: #183A5A;
    --blue-normal:#1B60A2;
    --gray-block:#a7a7a7;

}

/*.radio-validated {*/
/*    border-color: var(--green);*/
/*}*/
.form-check-input:checked{
    background-color: var(--green);
    border-color: var(--green);
}
.radio-label-validated{
    color: var(--green)
}
.input-error {
    color: red;
    font-size: 0.9rem;
    line-height: 1rem;
}
/* 
    exceptions
*/
.fees-block .form-label{
    margin-bottom: 0;
              }
.ticket-quantity-block {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.btn-outline-secondary {
    color: var(--blue-normal);
    border-color: var(--blue-normal);
}
.btn-outline-secondary:hover{
    color: white;
    background-color: var(--blue-normal);
    border-color: var(--blue-normal);
}
.btn-outline-secondary.disabled {
    color: var(--gray-block);
    border-color: var(--gray-block);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
